.full-banner {
  background-image: url("/assets/images/full-banner.jpg");
  min-height: 220px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;

  small {
    color: #999898;
  }

  .btn-primary {
    background-color: #e30f19;
    border-radius: 0;
    border: none;
    min-width: 100px;
  }

  .d-flex {
    align-items: center;
  }

  @media (max-width: 575px) {
    > div {
      display: flex;
      align-items: flex-start;
      justify-content: center;
    }
  }

  @media (min-width: 576px) {
    min-height: 340px;
  }

  @media (min-width: 992px) {
    min-height: 60vh;

    p {
      color: #999898;
      max-width: 50vw;
    }
  }
}
